.container {
  display: flex;
  width: fit-content;
  justify-content: start;
  flex-direction: column;
  padding: 12px 20px;
  background-color: var(--primary-white);
  min-width: 240px;
  border-radius: 13px;
  max-height: 750px;
  overflow-y: auto;
  position: absolute;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
  z-index: 110;
}

.option {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 14px 10px;
  border-radius: 13px;

  cursor: pointer;

  &:hover {
    background-color: var(--greyscale100);
  }
}

.closedContainer {
  display: none;
}

.divider {
  background-color: var(--greyscale200);
  height: 1px;
  margin: 8px 0;
}

.selectedOption {
  filter: brightness(0.9);
}
